# H1 Segmenting and Clustering Neighborhoods in Toronto

Import pandas library, read in the wikipedia html and parse it, using pandas, to form a dataframe

In [398]:
import pandas as pd

l = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = pd.DataFrame(l[0])
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

Update column headers to match those requested in the assignment instructions

In [399]:
headers = ['PostalCode', 'Borough', 'Neighborhood']
df.columns = headers
df.columns = list(map(str,df.columns))

Replace the 'Not assigned' attributes with NaN and then remove rows which contain them, as per the assignment instructions

In [400]:
df.replace('Not assigned','NaN')
df.dropna(axis=0,inplace=True)

Reset the index column now the rows have been modified

In [401]:
index = list(map(str,range(0,len(df))))
df.index = index

The instructions ask for multiple entries to be comma-separated, not forward slash-separated. The next cell corrects this

In [402]:
neighborhood_new = list()
for n in df['Neighborhood']:
    n = n.split('/')
    if len(n) > 1:
        n_temp = str()
        for i in range(0,len(n)):
            if i == len(n)-1:
                n_temp = n_temp + n[i]
            else:
                n_temp = n_temp + n[i] + ','                    
        neighborhood_new.append(n_temp)
    else:
        neighborhood_new.append(n[0])
        
df['Neighborhood'] = neighborhood_new

Final, clean-up dateframe

In [403]:
df.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park , Harbourfront
3        M6A        North York             Lawrence Manor , Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [406]:
df.shape

(103, 3)